.IncomeTracker-contents {
    height: 100%;
    width: calc(100% - 5rem); /* Subtract the sidebar width from the full width */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5c715e;
    overflow: auto; /* Allow scrolling if content overflows */
}

