.ExpenseTracker-contents {
    height: 100%;
    width: calc(100% - 5rem); /* Subtract the sidebar width from the full width */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5c715e;
    overflow: auto; /* Allow scrolling if content overflows */
}

.ExpenseTracker-contents {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .chart-container {
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  